{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <!-- style  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/icon-font.css" %}">
</head>
<body>
    <main>
        <section class="section-createaccount">
            <div class="u-margin-bottom-small">
                <h2 class="createaccount__logo">PennyPinch</h2> 
                <h2 class="heading-secondary heading-secondary-thin">
                    {% block form_use %}{% endblock %}
                </h2>
            </div>
            <div class="signup__email">
                {% block content %}
                {% endblock %}
            </div>
            {% block social_auth %}

            <div class="social__authentication u-margin-top-small">
                <div class="u-margin-bottom-small">
                    <h3 class="heading-tertiary">
                       or sign up with
                    </h3>
                </div>
                    <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn__social-auth"><img src="{% static "images/google.svg" %}" class="social__icons">Google</a>
                </div>
                <div class="platform ">
                    <a href="{% url "social:begin" "twitter" %}" class="btn btn__social-auth"><img src="{% static "images/twitter.svg" %}" class="social__icons">Twitter</a>
                </div>
            </div>
            {% endblock %}
            {% block footing %}
            
            {% endblock %}
        </section>
    </main>

    <script src="{% static "js/fix.js" %}"></script>
</body>
</html>